<body id="msg-body">
  <div id="user_title">
  <h3 class="msg-title">メッセージ</h3>
<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body.present? %>
      <% if message.user == current_user %>
        <div class="item right-msg">
          <div class="content">
            <div class="header">
              <strong><%= message.user.name %></strong>
              <%= message.message_time %>
            </div>
            <div class="list">
              <div class="item">
                <i class="right triangle icon"></i>
                <%= message.body %>
                <% if message.user == current_user %>
                  <%= message.read ? '既読' : '未読' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="item left-msg">
          <div class="content">
            <div class="header">
              <strong><%= message.user.name %></strong>
              <%= message.message_time %>
            </div>
            <div class="list">
              <div class="item">
                <i class="right triangle icon"></i>
                <%= message.body %>
                <% if message.user == current_user %>
                  <%= message.read ? '既読' : '未読' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
<%= form_with(model: [@conversation, @message]) do |f| %>
  <div class="field right-msg">
    <%= f.text_area :body %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: 'hidden' %>
  <div class="right-msg">
    <%= f.submit('メッセージ送信', class: 'btn') %>
  </div>
<% end %>
<p class="text-right"><%= link_to t('contents.link.back'), follow_user_path(current_user.id), class: 'btn follow-back-btn' %></p>
<div class="push"></div>
</body>
