<div id="wrapper">
  <body id="sign_page">
    <div class="sign_form">
      <h1 class="login_title">Log In</h1>
        <%= form_with(scope: :session, url: sessions_path, local:true) do |f| %>
          <div class="form-group">
            <%= f.email_field :email , placeholder: t('attributes.user.email'), class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, placeholder: t('attributes.user.password'), class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, placeholder: t('attributes.user.password_confirmation'), class: 'form-control' %>
          </div>
            <%= f.submit t('contents.link.login'), class: 'btn btn-info signup_btn' %>
        <% end %>
    </div>
  </body>
</div>
