<h1>Log In</h1>
<%= form_with(scope: :session, url: sessions_path, local:true) do |f| %>
<div class="form-group">
  <%= f.label :email, t('attributes.user.email') %>
  <%= f.email_field :email , class: 'form-control'%>
</div>
<div class="form-group">
  <%= f.label :password, t('attributes.user.password') %>
  <%= f.password_field :password, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation, t('attributes.user.password_confirmation') %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
</div>

<%= f.submit 'ログイン', class: 'btn btn-primary' %>
<% end %>
