<body id="user-body">
  <div id="user_title">
    <h1><%= @user.name %>さんの詳細</h1>
  </div>

  <% if current_user.id == @user.id  %>
    <div class="list-name"><%= link_to 'フォロー/フォロワーリスト', follow_user_path(current_user.id), class: 'btn' %></div>
    <div class="list-name"><%= link_to 'player 新規登録', new_player_path, class: 'btn' %></div>
  <% end %>

  <% if current_user.id != @user.id %>
    <p>フォローしてメッセージを送ってみよう！</p><br>
    <%= render 'follow_form', user: @user %>
  <% end %>

  <h4 class="player-info">登録情報一覧</h4>
    <div class="row">
      <% @players.each do |player| %>
        <ul class="media-list col-md-6">
          <div class="push2">
            <div class="media-left media-image">
              <% if player.legend == "オクタン" %>
                <%= image_tag 'オクタンApex Legends_20201001223559.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "クリプト" %>
                <%= image_tag 'クリプトApex Legends_20201001223639.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "コースティック" %>
                <%= image_tag 'コースティックApex Legends_20201001223537.jpg', width: '150px', height: '220px'%>
              <% elsif player.legend == "ジブラルタル" %>
                <%= image_tag 'ジブラルタルApex Legends_20201001223502.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "パスファインダー" %>
                <%= image_tag 'パスファインダーApex Legends_20201001223517.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "バンガロール" %>
                <%= image_tag 'バンガロールApex Legends_20201001223754_1.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "ブラッドハウンド" %>
                <%= image_tag 'ブラッドハウンドApex Legends_20201001223453.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "ミラージュ" %>
                <%= image_tag 'ミラージュApex Legends_20201001223543.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "ライフライン" %>
                <%= image_tag 'ライフラインApex Legends_20201001223805.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "ランパート" %>
                <%= image_tag 'ランパートApex Legends_20201001223619.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "レイス" %>
                <%= image_tag 'レイスApex Legends_20201001223522.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "レヴナント" %>
                <%= image_tag 'レヴナントApex Legends_20201001223635.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "ローバ" %>
                <%= image_tag 'ローバApex Legends_20201001223627.jpg', width: '150px', height: '220px' %>
              <% elsif player.legend == "ワットソン" %>
                <%= image_tag 'ワットソンApex Legends_20201001223603.jpg', width: '150px', height: '220px' %>
              <% end %>
            </div>
            <div class="media-body">
              <table class="user_show_player_list">
                <tr><td><%= t 'attributes.player.legend' %></td><td><%= player.legend %></td></tr>
                <tr><td><%= t 'attributes.player.platform' %></td><td><%= player.platform %></td></tr>
                <tr><td><%= t 'attributes.player.rank' %></td><td><%= player.rank %></td></tr>
                <tr><td><%= t 'attributes.player.voice_chat' %></td><td><%= player.voice_chat %></td></tr>
                <tr><td><%= t 'attributes.player.play_style' %></td><td><%= player.play_style %></td></tr>
                <tr><td><%= t 'attributes.player.time_to_play' %></td><td><%= player.time_to_play.strftime("%H時%M分") %></td></tr>
                <tr><td><%= t 'attributes.player.favorite_weapon' %></td><td><%= player.favorite_weapon %></td></tr>
                <tr><td><%= t 'attributes.player.killdeath_point' %></td><td><%= player.killdeath_point %></td></tr>
                <tr>
                  <td><%= t 'attributes.player.free'%></td>
                  <td><details><summary>詳細</summary><p><%= player.free %></p></details></td>
                </tr>
              </table>
              <% if current_user.id == @user.id  %>
                <%= link_to '編集', edit_player_path(player.id), class: 'btn user-btn' %>
                <%= link_to '削除', player_path(player.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn user-btn' %>
              <% end %>
            </div>
          </div>
        </ul>
      <% end %>
    </div>
  <div class="text-right">
    <%= link_to t('contents.link.player-list'), players_path, class: 'btn' %>
  </div>
  <div class="push"></div>
</body>
