<% if player.errors.any? %>
<div id="error_explanation">
  <h2><%= t 'errors.template.body'%></h2>
  <% player.errors.full_messages.each do |msg| %>
  <ul>
    <li><%= msg %></li>
  </ul>
  <% end %>
</div>
<% end %>

<%= form_with(model: @player, local: true) do |f| %>
<div class="form-group">
  <%= f.label :legend %>
  <%= f.select :legend, Player.legends.keys, prompt: t('helpers.select.prompt') %>
</div>
<div class="form-group">
  <%= f.label :platform %>
  <%= f.select :platform, Player.platforms.keys, prompt: t('helpers.select.prompt') %>
</div>
<div class="form-group">
  <%= f.label :rank %>
  <%= f.select :rank, Player.ranks.keys, prompt: t('helpers.select.prompt') %>
</div>
<div class="form-group">
  <%= f.label :voice_chat %>
  <%= f.select :voice_chat, Player.voice_chats.keys, prompt: t('helpers.select.prompt') %>
</div>
<div class="form-group">
  <%= f.label :play_style %>
  <%= f.text_area :play_style, rows: 1, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :time_to_play %>
  <%= f.time_select :time_to_play, { minute_step: 15 } %>
</div>
<div class="form-group">
  <%= f.label :favorite_weapon %>
  <%= f.text_field :favorite_weapon, rows: 2,class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :killdeath_point %>
  <%= f.text_field :killdeath_point, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :free %>
  <%= f.text_area :free, rows: 5, class: 'form-control' %>
</div>


<%= f.submit nil, class: 'btn btn-primary' %>
<% end %>
