<div class="search_form">
  <div class="form-field">
    <h3 id="form-title">検索フォーム</h3>
    <%= search_form_for @q do |f| %>
    <div class="form-inline">
      <div class="form-group row">
        <%= f.label :legend_eq, t('attributes.player.legend'), class: 'col-form-label' %>
          <div class="col-sm-10">
            <%= f.select :legend_eq, options_for_select({ オクタン: 0, クリプト: 1, コースティック: 2, ジブラルタル: 3, バンガロール: 4, パスファインダー: 5, ブラッドハウンド: 6,
                                                          ミラージュ: 7, ライフライン: 8, ランパート: 9, レイス: 10, レヴナント: 11, ローバ: 12, ワットソン: 13 }), include_blank: true %>
          </div>
      </div>
    <div class="form-group row">
      <%= f.label :rank_eq, t('attributes.player.rank'), class: 'col-form-label' %>
        <div class="col-sm-10">
          <%= f.select :rank_eq, options_for_select({ 遊ばない: 0, ブロンズ: 1, シルバー: 2, ゴールド: 3, プラチナ: 4, ダイヤ: 5, マスター＆プレデター: 6 }), include_blank: true %>
        </div>
    </div>
    <div class="form-group row">
      <%= f.label :platform_eq, t('attributes.player.platform'), class: 'col-form-label' %>
        <div class="col-sm-10">
          <%= f.select :platform_eq, options_for_select({ PS4: 0, PC: 1, Xbox: 2 }), include_blank: true %>
        </div>
    </div>
    <div class="form-group">
      <%= f.submit('検索', class: 'btn search_btn')  %>
      <%= link_to 'リセット', players_path, class: 'btn search_btn' %>
    </div>
    </div>
    <% end %>
    <div class="search_result">
      <% unless @check.blank? %>
        <h5>あなたの検索条件</h5>
        <table>
          <tr>
            <td class="result_title"><%= t('attributes.player.legend') %>:</td>
            <td class="result_legend">
              <% if @q.legend_eq == 0 %>
                <%= "オクタン" %>
              <% elsif @q.legend_eq == 1 %>
                <%= "クリプト" %>
              <% elsif @q.legend_eq == 2 %>
                <%= "コースティック" %>
              <% elsif @q.legend_eq == 3 %>
                <%= "ジブラルタル" %>
              <% elsif @q.legend_eq == 4 %>
                <%= "バンガロール" %>
              <% elsif @q.legend_eq == 5 %>
                <%= "パスファインダー" %>
              <% elsif @q.legend_eq == 6 %>
                <%= "ブラッドハウンド" %>
              <% elsif @q.legend_eq == 7 %>
                <%= "ミラージュ" %>
              <% elsif @q.legend_eq == 8 %>
                <%= "ライフライン" %>
              <% elsif @q.legend_eq == 9 %>
                <%= "ランパート" %>
              <% elsif @q.legend_eq == 10 %>
                <%= "レイス" %>
              <% elsif @q.legend_eq == 11 %>
                <%= "レヴナント" %>
              <% elsif @q.legend_eq == 12 %>
                <%= "ローバ" %>
              <% elsif @q.legend_eq == 13 %>
                <%= "ワットソン" %>
              <% else %>
                <%= "指定なし" %>
              <% end %>
            </td>
            <td class="result_title"><%= t('attributes.player.rank') %>:</td>
            <td class="result_legend">
              <% if @q.rank_eq == 0 %>
                <%= "遊ばない" %>
              <% elsif @q.rank_eq == 1 %>
                <%= "ブロンズ" %>
              <% elsif @q.rank_eq == 2 %>
                <%= "シルバー" %>
              <% elsif @q.rank_eq == 3 %>
                <%= "ゴールド" %>
              <% elsif @q.rank_eq == 4 %>
                <%= "プラチナ" %>
              <% elsif @q.rank_eq == 5 %>
                <%= "ダイヤ" %>
              <% elsif @q.rank_eq == 6 %>
                <%= "マスター＆プレデター" %>
              <% else %>
                <%= "指定なし" %>
              <% end %>
            </td>
            <td class="result_title"><%= t('attributes.player.platform') %>:</td>
            <td class="result_legend">
              <% if @q.platform_eq == 0 %>
                <%= "PS4" %>
              <% elsif @q.platform_eq == 1 %>
                <%= "PC" %>
              <% elsif @q.platform_eq == 2 %>
                <%= "Xbox" %>
              <% else %>
                <%= "指定なし" %>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
