<body id="player-body">
  <div id="player_title">
    <div class="row">
      <h1>プレイヤー一覧</h1>
      <p>自分にあったユーザーを探してみよう！</p>
        <%= render 'search' %>
      <p><%= link_to 'Player 新規登録', new_player_path, class: 'btn' %></p>
      <p class="player_sort"><%= sort_link(@q, :killdeath_point, "#{t('attributes.player.killdeath_point')} sort",  default_order: :desc) %></p>
    </div>
  </div>
  <div class="row">
    <% @players.each do |player| %>
      <ul class="media-list col-md-6">
        <div class="push2">
          <div class="media-left media-image">
            <% if player.legend == "オクタン" %>
              <%= image_tag 'octane_Apex Legends_20201001223559.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "クリプト" %>
              <%= image_tag 'crypto_Apex Legends_20201001223639.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "コースティック" %>
              <%= image_tag 'caustic_Apex Legends_20201001223537.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "ジブラルタル" %>
              <%= image_tag 'gibraltar_Apex Legends_20201001223502.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "パスファインダー" %>
              <%= image_tag 'pathfinder_Apex Legends_20201001223517.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "バンガロール" %>
              <%= image_tag 'bangaloreApex Legends_20201001223754_1.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "ブラッドハウンド" %>
              <%= image_tag 'bloodhound_Apex Legends_20201001223453.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "ミラージュ" %>
              <%= image_tag 'mirage_Apex Legends_20201001223543.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "ライフライン" %>
              <%= image_tag 'lifeline_Apex Legends_20201001223805.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "ランパート" %>
              <%= image_tag 'rampart_Apex Legends_20201001223619.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "レイス" %>
               <%= image_tag 'wraith_Apex Legends_20201001223522.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "レヴナント" %>
               <%= image_tag 'revenant_Apex Legends_20201001223635.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "ローバ" %>
              <%= image_tag 'loba_Apex Legends_20201001223627.jpg', width: '130px', height: '180px' %>
            <% elsif player.legend == "ワットソン" %>
              <%= image_tag 'wattson_Apex Legends_20201001223603.jpg', width: '130px', height: '180px' %>
            <% else %>
            <% end %>
          </div>
          <div class="media-body">
            <table class="player_list">
              <tr><td class="list_title"><%= t 'attributes.player.user_name'%></td><td><%= player.user.name %></td></tr>
              <tr><td class="list_title"><%= t 'attributes.player.platform'%></td><td><%= player.platform %></td></tr>
              <tr><td class="list_title"><%= t 'attributes.player.rank'%></td><td><%= player.rank %></td></tr>
              <tr><td class="list_title"><%= t 'attributes.player.killdeath_point'%></td><td><%= player.killdeath_point %></td></tr>
              <tr><td class="list_title"><%= t 'attributes.player.play_style'%></td><td><%= player.play_style %></td></tr>
              <tr>
                <td class="list_title"><%= t 'attributes.player.free'%></td>
                <td><details><summary>みる！</summary><p><%= player.free %></p></details></td>
              </tr>
              <tr><td><%= link_to 'プレイヤー詳細', player_path(player), class: 'btn player_btn' %></td><td></td></tr>
            </table>
          </div>
        </div>
      </ul>
    <% end %>
  </div>
  <div id="paginate">
    <%= paginate @players %>
  </div>
  <div class="push"></div>
</body>
