<body id="player-body">
  <div id="player_title">
    <div class="row">
      <h1>プレイヤー一覧</h1>
      <p>自分にあったユーザーを探してみよう！</p>
        <%= render 'search' %>
      <p><%= link_to 'Player 新規登録', new_player_path, class: 'btn' %></p>
      <p class="player_sort"><%= sort_link(@q, :killdeath_point, "#{t('attributes.player.killdeath_point')} sort",  default_order: :desc) %></p>
    </div>
  </div>
  <div class="row">
    <% @players.each do |player| %>
      <ul class="media-list col-md-6">
        <div class="push2">
          <div class="media-left media-image">
            <% if player.legend == "オクタン" %>
              <img src="<%= asset_path "オクタンApex Legends_20201001223559.jpg" %>" alt="">
            <% elsif player.legend == "クリプト" %>
              <img src="<%= asset_path "クリプトApex Legends_20201001223639.jpg" %>" alt="">
            <% elsif player.legend == "コースティック" %>
              <img src="<%= asset_path "コースティックApex Legends_20201001223537.jpg" %>" alt="">
            <% elsif player.legend == "ジブラルタル" %>
              <img src="<%= asset_path "ジブラルタルApex Legends_20201001223502.jpg" %>" alt="">
            <% elsif player.legend == "パスファインダー" %>
              <img src="<%= asset_path "パスファインダーApex Legends_20201001223517.jpg" %>" alt="">
            <% elsif player.legend == "バンガロール" %>
              <img src="<%= asset_path "バンガロールApex Legends_20201001223754_1.jpg" %>" alt="">
            <% elsif player.legend == "ブラッドハウンド" %>
              <img src="<%= asset_path "ブラッドハウンドApex Legends_20201001223453.jpg" %>" alt="">
            <% elsif player.legend == "ミラージュ" %>
              <img src="<%= asset_path "ミラージュApex Legends_20201001223543.jpg" %>" alt="">
            <% elsif player.legend == "ライフライン" %>
              <img src="<%= asset_path "ライフラインApex Legends_20201001223805.jpg" %>" alt="">
            <% elsif player.legend == "ランパート" %>
              <img src="<%= asset_path "ランパートApex Legends_20201001223619.jpg" %>" alt="">
            <% elsif player.legend == "レイス" %>
              <img src="<%= asset_path "レイスApex Legends_20201001223522.jpg" %>" alt="">
            <% elsif player.legend == "レヴナント" %>
              <img src="<%= asset_path "レヴナントApex Legends_20201001223635.jpg" %>" alt="">
            <% elsif player.legend == "ローバ" %>
              <img src="<%= asset_path "ローバApex Legends_20201001223627.jpg" %>" alt="">
            <% elsif player.legend == "ワットソン" %>
              <img src="<%= asset_path "ワットソンApex Legends_20201001223603.jpg" %>" alt="">
            <% else %>
            <% end %>
          </div>
          <div class="media-body">
            <table class="player_list">
              <tr><td class="list_title"><%= t 'attributes.player.user_name'%></td><td><%= player.user.name %></td></tr>
              <tr><td class="list_title"><%= t 'attributes.player.platform'%></td><td><%= player.platform %></td></tr>
              <tr><td class="list_title"><%= t 'attributes.player.rank'%></td><td><%= player.rank %></td></tr>
              <tr><td class="list_title"><%= t 'attributes.player.killdeath_point'%></td><td><%= player.killdeath_point %></td></tr>
              <tr><td class="list_title"><%= t 'attributes.player.play_style'%></td><td><%= player.play_style %></td></tr>
              <tr>
                <td class="list_title"><%= t 'attributes.player.free'%></td>
                <td><details><summary>みる！</summary><p><%= player.free %></p></details></td>
              </tr>
              <tr><td><%= link_to 'プレイヤー詳細', player_path(player), class: 'btn player_btn' %></td><td></td></tr>
            </table>
          </div>
        </div>
      </ul>
    <% end %>
  </div>
  <div class="push"></div>
</body>
