<!DOCTYPE html>
<html>
  <head>
    <title>APTeamFactory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">APTeamFactory</a>
    </nav>
    <div class="container">
      <% if flash.notice.present? %>
        <div class="alert alert-info">
          <%= flash.notice %>
        </div>
      <% end %>
    <%= yield %>
  </div>
  </body>
</html>
